<h4><strong>title:<%= @poem.title %></strong></h4>
<h4><strong>content:<%= @poem.content %></strong></h4>
<h4><strong>create_dae:<%= @poem.created_at %></strong></h4>
<h4><strong>update_day:<%= @poem.updated_at %></strong></h4>
